/.git
/.github
/.wordpress-org
/config
/node_modules
/tests

.distignore
.editorconfig
.gitattributes
.gitignore
.nvmrc
.plugin-data
.wp-env.json
CHANGELOG.md
composer.json
composer.lock
grumphp.yml
LICENSE.md
package.json
package-lock.json
phpcs.xml.dist
phpunit.xml.dist
psalm.xml.dist
phpcs.xml
phpunit.xml
psalm.xml
README.md
webpack.config.js
yarn.lock
