/* editor */
.wp-block-blockparty-faq {

	&-item,
	&-answer,
	.wp-block {
		max-width: 100% !important;
	}

	&-item,
	&-answer {
		margin-top: 0;
		margin-bottom: 0;
	}

	&-answer {
		display: none;
	}

	&-item.has-child-selected .wp-block-blockparty-faq-answer {
		display: block;
	}

	&-item.has-child-selected .wp-block-blockparty-faq-trigger::after {
		transform: translateY(-50%) rotate(-135deg);
	}

	&-question {

		.rich-text {
			white-space: nowrap;
		}
	}
}
