.wp-block-beapi-faq-block {

	.faq-list {

		&__button {
			float: right;
			opacity: 0;
			z-index: 999;
			position: relative;

			&:hover {
				color: #007cba;
			}
		}

		&__item:hover .faq-list__button { /* stylelint-disable-line */
			opacity: 1;
		}

		&__add-item svg {
			margin-right: 0.25em;
		}
	}
}
